@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;

}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}

p {
    font-family: "Barlow", sans-serif;
}

img {
    width: 100%;
}

.container {
    max-width: 1300px;
}

.ptb-70 {
    padding: 70px 0;
}

.ptb-50 {
    padding: 50px 0;
}

.ptb-30 {
    padding: 30px 0;
}

/* global css end here */
/* header css start here */
.site-header {
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    z-index: 99;
    background: rgba(35, 42, 92, .3);
    backdrop-filter: blur(20px);
}

.site-logo img {
    max-width: 250px;
}

.toggle,
.close {
    display: none;
}

.nav-links ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.site-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    display: inline-block;
}

.nav-links ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #f7e117;
    transition: all 0.3s linear;
}

.nav-links ul li a:hover::before,
.nav-links ul li a.active::before {
    width: 100%;

}

.nav-links ul li a:hover,
.nav-links ul li a.active {
    color: #f7e117;
}

/* header css end here */
/* banner section start here */
.site-banner {
    background-image: url(../images/banner-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
}

.fixed-header {
    background-color: #111746;
}

.banner-txt {
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateY(-25%);
}

.banner-txt h3 {
    font-size: 20px;
}

.banner-txt h3 {
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.banner-txt h2 {
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgb(183 0 18);
}

.contact-btn a {
    font-size: 18px;
    padding: 15px 30px;
    background-color: #fff;
    display: inline-block;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    color: #111746;
    position: relative;
    transition: .3s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

.contact-btn a::before,
.contact-btn a::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* background-color:#ca000e; */
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, .2);
    transition: .3s cubic-bezier(0.79, 0.14, 0.15, 0.86);
    border-radius: 5px;
}

.contact-btn a span {
    position: inherit;
    z-index: 2;
}

.contact-btn a::before {
    background-color: #fff;
    z-index: 1;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, .2);
}

.contact-btn a:hover::before {
    background-color: #ca000e;
}

.contact-btn a::after {
    background-color: #ca000e;
    transform: translate(4px, 4px);
    z-index: 0;
}

.contact-btn a:hover::after {
    background-color: #fff;
    transform: translate(-4px, -4px);
}

.contact-btn a:hover {
    transform: translate(4px, 4px);
    color: #ffffff;
}

.contact-btn {
    margin-top: 50px;
}

/* banner section end here */
/* featured section css start here */
.featured {
    background-color: #0a0e35;
}

.cassino-logo img {
    width: 150px;
}

.cassino-dis span {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    display: block;
}

.cassino-dis p {
    color: #000;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
}

.cassino-btn a {
    font-size: 18px;
    font-weight: 600;
    margin: 18px 0 0 0;
    display: inline-block;
    padding: 15px 30px;
    background-color: #111746;
    border: 1px solid #111746;
    border-radius: 5px;
    color: #fff;
}

.cassino-btn a:hover {
    color: #111746;
    background-color: transparent;
    transition: all 0.3s linear;

}

.featured-box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.cassino-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cassino-dis {
    width: 100%;
}

.cassino-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #000;
    margin-bottom: 18px;
}

/* featured section css end here */
/* why choose us section css start here */
.why-choose {
    background-image: url(../images/section-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

}

.site-heading h3 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgb(183 0 18);
    color: #fff;
    text-transform: uppercase;
}

.choose-wrap {
    /* border: 1px solid #ffffff40; */
    padding: 30px 20px;
    text-align: center;
    background-color: #0a0e35;
    border-radius: 10px;
    height: 100%;
}

.choose-box .col-md-6 {
    margin-bottom: 20px;
}

.choose-wrap:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s linear;

}

.choose-img {
    height: 100px;
    width: 100px;
    /* border: 1px solid #000; */
    padding: 15px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
}

.choose-img img {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

.choose-txt h4 {
    font-size: 25px;
    margin: 10px 0;
    font-weight: 600;
    color: #fff;
}

.choose-txt p {
    font-size: 16px;
    margin-bottom: 0;
    color: #ffffffab;
}

.choose-box {
    margin-top: 50px;
}

/* why choose us section css end here */
/* how it work section css start here */
section.how-it-work {
    background-color: #0a0e35;
}

.work-card h4 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}

.work-card p {
    font-size: 16px;
    margin-bottom: 0;
    color: #ffffffab;
}

.work-card {
    width: 41%;
    height: 100%;
}

.work-middel {
    width: 10%;
    height: 100%;
}

.work-box {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    height: 300px;
    overflow: hidden;
}

.work-wrap {
    padding: 50px 150px;

}

.progress-barr {
    display: flex;
    justify-content: center;
    align-items: self-start;
    height: 100%;
}

.progress-count h5 {
    color: #0a0e35;
    padding: 10px;
    background-color: #f3f3f3;
    line-height: 1;
    margin-bottom: 0;
    position: relative;
}

/* .progress-count h5::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
} */
.progress-count {
    position: relative;
    height: 100%;
}

.progress-count::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    height: 100%;
    width: 0px;
    background-color: #fff;
    border: 1px dashed;
}

/* how it work section css end here */
/* footer section css start here */
.site-footer {
    background-image: url(../images/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-logo img {
    width: 300px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-links ul li a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.footer-links ul li a:hover {
    color: #ffc107;
    transition: all 0.3s linear;
}

.footer-links {
    margin: 30px 0;
}

.copy-right p {
    font-size: 16px;
    color: #ffffff9c;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #fff;
}

.copy-right p a {
    color: #ffc107;
}

/* footer section css end here */
/* casino page css start here */
.casino-banner {
    background-image: url(../images/about-bnr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px 100px 0;
}

.sub-bnr-txt h3 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.sub-bnr-txt ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.sub-bnr-txt ul li {
    font-size: 18px;
    color: #fff;
}

.sub-bnr-txt ul li {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
}

.sub-bnr-txt ul li a {
    color: #ffc107;
}

.casino-txt-bx {
    background-color: #22285a;
    border-radius: 5px;
    padding: 20px;
}

.casino-txt-bx p {
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
}

.casino-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 800px;
    overflow: hidden;
    margin-bottom: 20px;
}

.casino-cont {
    margin-bottom: 70px;

}

.casino-left {
    height: 100%;
    width: 50%;
}

.casino-img {
    height: 100%;
    margin-bottom: 20px;
}

.casino-img img {
    height: 100%;
    object-fit: cover;
}

.casino-rght {
    width: 48%;
    height: 100%;
}

section.casino-main {
    background-color: #0a0e35;
}

.casino-btn {
    position: relative;
    z-index: 9;
    margin-top: 40px;
}

.casino-main-txt p {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

.casino-main-txt {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    background: #ededed;
    height: 100%;
    margin-bottom: 15px;
}

.casino-logo {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pay-logo {
    width: 60px;
}

.pay-logo img {
    filter: brightness(0) invert(0);
}

.casino-btn .contact-btn {
    margin-top: 15px;
}

/* srj-sec section css start here */
.srj-sec {
    background-color: #0a0e35;
}

.srij-txt h3 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.srij-disc h4 {
    font-size: 25px;
    color: #d5d5d5;
    margin-bottom: 15px;
}

.srij-disc ul li {
    font-size: 16px;
    color: #ffffffab;
    margin-bottom: 10px;
}

.srij-disc ul {
    list-style: disc;
    padding-left: 20px;
}

/* casino page css end here */
/* about us page css start here */
.sub-bnr-txt p {
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.mission-txt h3 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #fff;
}

.mission-txt p {
    font-size: 18px;
    margin-bottom: 0;
    color: #ffffff9c;
}

.mission-img img {
    height: 350px;
    object-fit: cover;
}

.our-mission {
    background-color: #0a0e35;
}

.what-we-offer {
    background-image: url(../images/section-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: block; */
}

.offer-wrap {
    background-color: #0a0e35;
    border-radius: 5px;
}

.offer-txt h4 {
    font-size: 25px;
    color: #fff;
    margin: 10px 0;
    min-height: 65px;
}

.offer-txt p {
    font-size: 16px;
    line-height: 1.2;
    color: #f3f3f3d1;
    min-height: 200px;
}

.offer-txt {
    padding: 10px 15px;
}

.offer-img {
    height: 200px;
    overflow: hidden;
}

.offer-img:hover img {
    transform: scale(1.2);

}

.offer-img img {
    transition: all 0.4s linear;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.what-we-offer .row {
    margin-top: 50px;
}

.srij-disc p {
    font-size: 18px;
    color: #f3f3f3d1;
}

/* about us page css end here */
/* term page css start here */
.term-main {
    background-color: #0a0e35;

}

.term-wrap h3 {
    font-size: 25px;
    color: #fff;
    margin: 15px 0;
}

.term-wrap p,
.term-wrap ul li {
    font-size: 16px;
    color: #f3f3f3d1;
    margin-bottom: 10px;
}

.term-wrap ul {
    list-style: disc;
    padding-left: 20px;
}

/* term page css end here */

/* cookies css star here */
#cookies-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0a0e35;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    /* display: none; */
}

#cookies-popup p {
    margin: 0;
    color: #fff;
}

#accept-cookies {
    background-color: #d4af37;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}

#accept-cookies:hover {
    background-color: #7e6619;
}

/* cookies css end here */
.about-bnr {
    background-image: url(../images/about-bnr2.jpg);
    position: relative;
}

.sports-bnr {
    background-image: url(../images/sports-bnrr.jpg);
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0a0e35;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.sub-bnr-txt {
    position: relative;
}

.topcontent {
    padding: 50px 0 0 0;
    background: #0a0e35;
}

.topcontent p {
    color: #fff;
}